/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway:ital,wght@0,400;0,600;0,700;1,600&display=swap');

/* General */
body {
	font-family: 'Raleway', sans-serif;
    background-image: url(../images/magic3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4 {
	font-family: 'Gloria Hallelujah', sans-serif;
}

/* Navbar */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

nav .brand-logo {
    font-family: 'Gloria Hallelujah', sans-serif;
    padding-left: 30px;
}

nav ul li:hover {
    background-color: #c5cae9;
}

.flashes h4 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-size: 20px !important;
}

/* Home page */

img .responsive-img {
	object-fit: contain;
    margin: 0 auto;
}

.card-panel h1 {
    padding-bottom: 20px;
    margin: 10px 0 30px 0;
}

.home-info p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

/* Add Spell page */

.input-field {
    margin: 0;
}

/* Login */

.login-card {
    margin-top: 50px;
}

.login-card .card-panel {
    background: rgba(0, 0, 0, .7);
}

.login-card label {
    font-size: 14px;
    color: #c5cae9;
}

.login-card input {
    font-size: 20px !important;
    color: #c5cae9;
}

.input-field textarea {
    font-size: 20px !important;
    color: #c5cae9;
}

/* Spells */

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.card-panel h2 {
    padding-bottom: 20px;
    margin: 10px 0 30px 0;
}

.valign-wrapper input {
    color: black;
}

/* Profile */

.login-card a {
    color: #c5cae9;
    font-family: 'Raleway', sans-serif; 
}

.profile-card p {
    color: #c5cae9;
    font-family: 'Raleway', sans-serif;
}

.profile-card h5 {
    color: #c5cae9;
    font-family: 'Raleway', sans-serif;
}

.spell .spell-line {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

/* Modal */

.modal {
    background-color: #bdbdbd;
}

.modal .modal-footer {
    background-color: #bdbdbd;
    text-align: center;
    padding: 0px 6px;
}

.modal-content p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px !important;
    color: black;
    text-shadow: none;
}

/* Footer */

.page-footer {
    padding-bottom: 20px;
}

.page-footer i {
    color: #c5cae9;
}

.page-footer i:hover {
    color: #33691e;
}

/* Mobile view */
@media screen and (max-width: 480px) {
	nav .brand-logo {
        font-size: 16px;
	}
	}