{% extends "base.html" %}
{% block content %}

    <div class="row login-card">
        <form class="col s12 m8 offset-m2 card-panel" method="POST" action="{{ url_for('edit_spell', spell_id=spell._id) }}">
            <div class="row center-align">
                <h3 class="center-align indigo-text text-lighten-4">Edit Spell</h3>
            </div>
            <!-- Category Selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-green-text text-darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == spell.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Spell Category</label>
                </div>
            </div>
            <!-- Spell Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                    <input id="spell_title" name="spell_title" minlength="5" maxlength="100"
                        value="{{ spell.spell_title }}" type="text" class="validate" required>
                    <label for="spell_title">Spell Title</label>
                </div>
            </div>
            <!-- Spell Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-green-text text-darken-4"></i>
                    <textarea id="spell_description" name="spell_description" minlength="5"
                        maxlength="600" class="materialize-textarea validate" required>
                        {{- spell.spell_description -}}
                    </textarea>
                    <label for="spell_description">Spell Description</label>
                </div>
            </div>
            <!-- Spell Ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-green-text text-darken-4"></i>
                    <textarea id="spell_list" name="spell_list" minlength="5"
                        maxlength="300" class="materialize-textarea validate" required>
                        {{- spell.spell_list -}}
                    </textarea>
                    <label for="spell_list">Spell Ingredients</label>
                </div>
            </div>
            <!-- Spell Process -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-green-text text-darken-4"></i>
                    <textarea id="spell_process" name="spell_process" minlength="5"
                        maxlength="800" class="materialize-textarea validate" required>
                        {{- spell.spell_process -}}
                    </textarea>
                    <label for="spell_process">Spell Process</label>
                </div>
            </div>
            <!-- Date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-green-text text-darken-4"></i>
                    <input id="spell_date" name="spell_date" type="text"
                        value="{{ spell.spell_date }}" class="datepicker validate" required>
                    <label for="spell_date">Spell Added on</label>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Cancel Button -->
                    <a href="{{ url_for('get_spells') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-green darken-4 text-shadow">
                        Edit Spell <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}