{% extends "base.html" %}
{% block content %}

    <div class="row login-card">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel">
                <h1 class="center-align indigo-text text-lighten-4">Magic Spells</h1>
                <div class="row">
                    <div class="col s12 m12 l6 center-align">
                        <img class="responsive-img" src="static/images/magic2.jpg" alt="Girl with book">
                    </div>

                    <div class="col s12 m12 l6 home-info">
                        <p class="center-align indigo-text text-lighten-4">
                            Magic works hand in hand with your belief system.<br>When we believe in ourselves and call upon
                            the power of nature and the universe to help us, our wishes come true
                            for all the things we want in life - and yes, even the material things!<br>For any spell all
                            you need is the belief that it will work and to have faith in yourself and your powers.
                        </p>
                    
                        <div class="row center-align text-center s12 m6">
                            <a href="{{ url_for('get_spells') }}"
                                class="btn-large text-shadow purple darken-2 waves-effect waves-light">
                                Search for Spell
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="card-panel black">
                            <h3 class="center-align indigo-text text-lighten-4">"What makes you different or weird - that's your strength."</h3>
                            <p class="center-align indigo-text text-lighten-4">Meryl Streep</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}