{% extends "base.html" %}
{% block content %}

    <div class="row login-card">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel">
                <h1 class="center-align indigo-text text-lighten-4">Magic Spells</h1>
                <div class="row">
                    <div class="col s12 m12 l6 center-align">
                        <img class="responsive-img" src="static/images/magic2.jpg" alt="Girl with book">
                    </div>

                    <div class="col s12 m12 l6 home-info">
                        <p class="center-align indigo-text text-lighten-4">
                            Magic works hand in hand with your belief system.<br>When we believe in ourselves and call upon
                            the power of nature and the universe to help us, our wishes come true
                            for all the things we want in life - and yes, even the material things!<br>For any spell all
                            you need is the belief that it will work and to have faith in yourself and your powers.
                        </p>
                    
                        <div class="row center-align text-center s12 m6">
                            <a href="{{ url_for('get_spells') }}"
                                class="btn-large text-shadow purple darken-2 waves-effect waves-light">
                                Search for Spell
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="card-panel black">
                            <h3 class="center-align indigo-text text-lighten-4">"What makes you different or weird - that's your strength."</h3>
                            <p class="center-align indigo-text text-lighten-4">Meryl Streep</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 l6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/magic3.jpg"
                                    alt="Magical Tools"/>
                            </div>
                            <div class="card-content grey">
                                <span class="card-title activator">
                                    Magical Tools <i class="fas fa-ellipsis-v right prefix light-green-text text-darken-4"></i>
                                </span>
                                <a href="{{ url_for('tools') }}"
                                    class="btn text-shadow purple darken-2 waves-effect waves-light" target="_blank">
                                    Discover More
                                </a>
                            </div>
                            <div class="card-reveal indigo-text text-lighten-4 grey darken-2">
                                <span class="card-title">
                                    Magical Tools <i class="fas fa-times right red-text text-darken-2 waves-effect waves-light"></i>
                                </span>
                                <p class="card-description">
                                    Candles, herbs and all the other requirements listed in any spell help set the tone for a spell, meaning that
                                    the magic may be able to work quicker.<br>
                                    All these Magical Tools are visual symbols of strength and energy.<br>
                                    For any spell all you need is the belief that it will work and to have
                                    faith in yourself and tour powers.<br>
                                    For more Magical Tools click on the button "Discover More".
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 l6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/magick.jpg"
                                    alt="Join Us">
                            </div>
                            <div class="card-content grey">
                                <span class="card-title activator">
                                    Join Us <i class="fas fa-ellipsis-v right prefix light-green-text text-darken-4"></i>
                                </span>
                                <a href="{{ url_for('register') }}"
                                    class="btn text-shadow purple darken-2 waves-effect waves-light" target="_blank">
                                    Register
                                </a>
                            </div>
                            <div class="card-reveal indigo-text text-lighten-4 grey darken-2">
                                <span class="card-title">
                                    Join Us <i class="fas fa-times right red-text text-darken-2 waves-effect waves-light"></i>
                                </span>
                                <p class="card-description">
                                    Magic is both a science and a art. It is science in the sense that performing a spell
                                    requires research. It is an art in the sense that you need to follow your intuition and be
                                    creative.<br>
                                    Join our community and discover more.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}