{% extends "base.html" %}
{% block content %}

    <div class="row login-card">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align indigo-text text-lighten-4">
                    {{ username }}'s Profile
                </h3>

                <!-- Only Admin can see and use this option -->
                {% if session.user|lower == "admin"|lower %}
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{{ url_for('get_categories') }}" class="btn text-shadow purple darken-2 waves-effect waves-light">
                                Manage Spell Categories
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="row profile-card">
                    <h5 class="center-align">Thank you {{ username }} for joining our Magic Spells community! Hope you will have wonderfull time!</h5>
                </div>

                <!-- Message, if user hasn't added any spells -->
                {% if spells|length == 0 %}
                    <div class="row profile-card">
                        <div class="col s12 center-align">
                            <p>Unfortunately, you haven't added any spells yet. Click the button underneath and make it happen!</p>
                            <a href="{{ url_for('add_spell') }}" class="btn purple darken-2 text-shadow waves-effect waves-light">Add Spell</a>
                        </div>
                    </div>
                {% endif %} 

                <!-- Showing user spells -->
                {% for spell in spells %}
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header grey">
                                <div class="col s4">
                                    <i class="fas fa-caret-down"></i>
                                        <a href="{{ url_for('delete_spell', spell_id=spell._id) }}" class="btn red darken-2 text-shadow waves-effect waves-light">Delete</a>
                                        <a href="{{ url_for('edit_spell', spell_id=spell._id) }}" class="btn purple darken-2 text-shadow waves-effect waves-light">Edit</a>                               
                                </div>
                                <div class="col s8">
                                    <strong>{{ spell.spell_title }}</strong> : {{ spell.spell_date }}
                                </div>
                            </div>
                            <div class="collapsible-body indigo-text text-lighten-4 grey darken-2">
                                <strong>{{ spell.category_name }}</strong>
                                <p><u>Description:</u> {{ spell.spell_description }}</p>
                                <p><u>You will need:</u> {{ spell.spell_list }}</p>
                                <p><u>What you do:</u> {{ spell.spell_process }}</p>
                                <p><em>Added by: {{ spell.added_by }}</em></p>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}