{% extends "base.html" %}
{% block content %}

    <div class="row login-card">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel home-info">
                <h1 class="center-align indigo-text text-lighten-4">Magical Tools</h1>
                <p class="center-align indigo-text text-lighten-4">The best magical tools are ones which you make or find in the wild.
                    When choosing tools, select items which feel personal and appealing to you.
                    Each item has a purpose, but not all traditions use the same tools, and they are not always used in the same way.
                    Below you will find some of the tools most used for spells.
                </p>       
                
                <!-- Magical Tools cards -->
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="https://cdn11.bigcommerce.com/s-91397/images/stencil/2048x2048/products/2147/5061/Herbal_Blends__60163.1464209226.jpg?c=2"
                                    alt="Herbs"/>
                            </div>
                            <div class="card-content grey">
                                <span class="card-title activator">
                                    Herbs <i class="fas fa-ellipsis-v right prefix light-green-text text-darken-4"></i>
                                </span>
                                <a href="https://whitemagickalchemy.com/sacred-daily-herbal-blend-gift-box-crafted-daily-at-our-shop/"
                                    class="btn text-shadow purple darken-2 waves-effect waves-light" target="_blank">
                                    Buy Now
                                </a>
                            </div>
                            <div class="card-reveal indigo-text text-lighten-4 grey darken-2">
                                <span class="card-title">
                                    Herbs <i class="fas fa-times right red-text text-darken-2 waves-effect waves-light"></i>
                                </span>
                                <p>
                                    Herbs have enormous magical power. They hold the earth's energy within them, and each herb has unique
                                    properties that can enhance your magical goal. Herbs may also have medicinal properties; you
                                    can choose to draw on either aspect when performing a spell.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="https://cdn11.bigcommerce.com/s-91397/images/stencil/2048x2048/products/2570/5982/Gemstone_Spheres_White_Magick_Alchemy__97325.1554508752.jpg?c=2"
                                    alt="Stones and Crystals">
                            </div>
                            <div class="card-content grey">
                                <span class="card-title activator">
                                    Stones and Crystals <i class="fas fa-ellipsis-v right prefix light-green-text text-darken-4"></i>
                                </span>
                                <a href="https://whitemagickalchemy.com/gemstone-spheres-intuitively-chosen-for-radiating-life-force-energy/"
                                    class="btn text-shadow purple darken-2 waves-effect waves-light" target="_blank">
                                    Buy Now
                                </a>
                            </div>
                            <div class="card-reveal indigo-text text-lighten-4 grey darken-2">
                                <span class="card-title">
                                    Stones and Crystals <i class="fas fa-times right red-text text-darken-2 waves-effect waves-light"></i>
                                </span>
                                <p>
                                    The earth produces a wide variety of crystals, gems and magical stones. As well as beind used for their
                                    colour and energy, they are also vessels of the earth's energy. Each type of stone possesses unique
                                    properties suitable foe different kinds of spells.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="https://cdn11.bigcommerce.com/s-91397/images/stencil/2048x2048/products/2559/5955/Small_Cauldron__10944.1553288863.jpg?c=2"
                                    alt="Cauldron">
                            </div>
                            <div class="card-content grey">
                                <span class="card-title activator">
                                    Cauldron <i class="fas fa-ellipsis-v right prefix light-green-text text-darken-4"></i>
                                </span>
                                <a href="https://whitemagickalchemy.com/small-cauldron-cast-iron-cauldron-mini-for-ritual-incenses-resins/"
                                    class="btn text-shadow purple darken-2 waves-effect waves-light" target="_blank">
                                    Buy Now
                                </a>
                            </div>
                            <div class="card-reveal indigo-text text-lighten-4 grey darken-2">
                                <span class="card-title">
                                    Cauldron <i class="fas fa-times right red-text text-darken-2 waves-effect waves-light"></i>
                                </span>
                                <p>
                                    Cauldrons symbolize the element of water, but they are also used to contain fire. Cauldrons appear
                                    in ancient lore as fonts of wisdom and sources of sustenance. They retain enormous magical power today.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="https://cdn11.bigcommerce.com/s-91397/images/stencil/2048x2048/products/2754/6411/CHIME_CANDLES__61984.1617308285.jpg?c=2"
                                    alt="Candles">
                            </div>
                            <div class="card-content grey">
                                <span class="card-title activator">
                                    Candles <i class="fas fa-ellipsis-v right prefix light-green-text text-darken-4"></i>
                                </span>
                                <a href="https://whitemagickalchemy.com/chime-candles-assorted-box-of-20-for-candle-magick-setting-intentions/"
                                    class="btn text-shadow purple darken-2 waves-effect waves-light" target="_blank">
                                    Buy Now
                                </a>
                            </div>
                            <div class="card-reveal indigo-text text-lighten-4 grey darken-2">
                                <span class="card-title">
                                    Candles <i class="fas fa-times right red-text text-darken-2 waves-effect waves-light"></i>
                                </span>
                                <p>
                                    Candles are one of the most important tools, and have multiple uses in both rituals and magic. Candles
                                    symbolize the element of fire, but can also be associated with the directions, deities or any other number
                                    of things.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="https://cdn11.bigcommerce.com/s-91397/images/stencil/2048x2048/products/2858/6646/White_Sage_Eucalyptus_Smudge_Stick_Wand_Bundle__65703.1611195351.jpg?c=2"
                                    alt="Sage">
                            </div>
                            <div class="card-content grey">
                                <span class="card-title activator">
                                    Sage <i class="fas fa-ellipsis-v right prefix light-green-text text-darken-4"></i>
                                </span>
                                <a href="https://whitemagickalchemy.com/white-sage-eucalyptus-smudge-bundles-for-clearing-space-healing-peace-focus/"
                                    class="btn text-shadow purple darken-2 waves-effect waves-light" target="_blank">
                                    Buy Now
                                </a>
                            </div>
                            <div class="card-reveal indigo-text text-lighten-4 grey darken-2">
                                <span class="card-title">
                                    Sage <i class="fas fa-times right red-text text-darken-2 waves-effect waves-light"></i>
                                </span>
                                <p>
                                    Sage has long been known as the herb for wisdom and is used to cleanse the area of unwanted energies. When burned, the sage
                                    creates a thick, grayish smoke. Sage...this is the old stand by. The Celts believed that if a bride carried sage, she
                                    became wise.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="https://cdn11.bigcommerce.com/s-91397/images/stencil/2048x2048/products/2737/6374/Witchcraft_Tools_Supplies__00107.1584417838.jpg?c=2"
                                    alt="Salt">
                            </div>
                            <div class="card-content grey">
                                <span class="card-title activator">
                                    Salt <i class="fas fa-ellipsis-v right prefix light-green-text text-darken-4"></i>
                                </span>
                                <a href="https://whitemagickalchemy.com/white-magick-premium-crystal-pyramid-witch-salt-flakes-for-purification-protection-casting-circles-setting-boundaries-culinary/"
                                    class="btn text-shadow purple darken-2 waves-effect waves-light" target="_blank">
                                    Buy Now
                                </a>
                            </div>
                            <div class="card-reveal indigo-text text-lighten-4 grey darken-2">
                                <span class="card-title">
                                    Salt <i class="fas fa-times right red-text text-darken-2 waves-effect waves-light"></i>
                                </span>
                                <p>
                                    Salt is used in spells and rituals as a representative of the element of earth. Wonderful
                                    for cleansing, charging scrying mirrors, purification baths, casting circles and setting boundaries.
                                    Because salts absorb energy and retain it, its useful in cleansing and purifying space.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer text-shadow indigo-text text-lighten-4 purple darken-2 center-align">
        Copyright©2021 | Magic Spells |
        <a target="_blank" type="submit" href="https://github.com/Sandra-Be/magic-spells">
        <i class="fab fa-github-alt" aria-hidden="true"></i></a>
    </footer>

{% endblock %}